<!DOCTYPE html>
<html>
    <head>
	<title><%= title %> - Home</title>

	<!-- Jquery and socket.io -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
	 html, body{height:100%; margin:0;padding:0}

	 .footer {
	     position: absolute;
	     bottom: 0;
	     width: 100%;
	     /* Set the fixed height of the footer here */
	     height: 60px;
	     line-height: 60px; /* Vertically center the text there */
	 }
	 
	 .container-fluid{
	     height:60%;
	     display:table;
	     width: 100%;
	     padding: 0;
	 }
	 
	 .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

	 .centering {
	     float:none;
	     margin:0 auto;
	 }
	</style>
	
    </head>
    <body class="text-center">

	<header class="masthead mb-auto">
	    <div class="inner">
		<h3 class="masthead-brand">Home</h3>
		<nav class="nav nav-masthead justify-content-center">
		    <a class="nav-link" href="https://youtu.be/1Dtnn0E9CyY">Features</a>
		    <a class="nav-link" href="https://cin.ufpe.br/~jraf/">Contact</a>
		</nav>
	    </div>
	</header>


	<div class="container-fluid">
	    <div class="row-fluid">
		
		<div class="centering text-center">
		    <h1 class="cover-heading">Tavola.</h1>
		    <p class="lead">An RPG tabletop organizer.</p>
		    <a href="/sheet"><button id="sheet-manager" class="btn btn-default" type="submit">Sheet manager</button></a>
		    <a href="/initiative"><button id="ini-manager" class="btn btn-default" type="submit">Initiative Manager</button></a>		
		</div>
	    </div>
	</div>
	
	<footer class="footer">
	    <div class="inner">
		<p>By: <a target="_blank" href="https://github.com/Traivok/Tavola">Traivok</a></p>
	    </div>
	</footer>
	
    </body>
</html>
