<!DOCTYPE html>
<html>
    <head>
	<title><%= title %> - Initiative Manager</title>

	<!-- Jquery and socket.io -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/initiative.css">
	
    </head>
    <body>

	<div class="sidenav">

	    <a href="/"><%= title %></a><br>
	    <hr/>
	    <a href="#">Add</a>
	    <a href="#">New</a>
	    <hr/>
	    <a href="#">Next</a>
	    <a href="#">Previous</a>
	    <hr/>
	    <a href="#">Undo</a>	    
	</div>

	<div id="main">
	    
	</div id="main">

	<script src="javascripts/systems.js"></script>
	<script src="javascripts/sheet.js"></script>
	
    </body>
</html>
