<!DOCTYPE html>
<html>
    <head>
	<title><%= title %> - Sheet Manager</title>

	<!-- Jquery and socket.io -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
	 #send-sheet {
	     padding-left: 8px;
	 }
	</style>
	
    </head>
    <body>
	
	<nav class="navbar navbar-default">

	    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/"><%= title %></a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
			
			<li id="list" class="active"><a href="#" id="list-a">List<span class="sr-only">(current)</span></a></li>			
			<li id="creation"><a href="#" id="creation-a">Creation</a></li>
						
			<li id="system-dropdown" class="dropdown">
			    <a class="system-choice" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
			    <ul class="dropdown-menu">
				
				<li>
				    <a>
					<form id="system" >
					    <label><input type="radio" name="system-choice" value="resistencia" checked> Resistência</label><br>
					    <label><input type="radio" name="system-choice" value="runequest-6" > Runequest 6e</label><br>
					    <label><input type="radio" name="system-choice" value="dnd-5e" disabled> DnD 5e</label><br>
					</form> 	
				    </a>
				</li>
				
			    </ul>
			</li>			
		    </ul>		    
		    
		    <form id="search-bar" class="navbar-form navbar-left">
			<div class="form-group">
			    <input type="text" class="form-control" placeholder="Search for a character">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		    </form>
		    
		</div>
	</nav>

	<script src="javascripts/systems.js"></script>
	<script src="javascripts/sheet.js"></script>
	
    </body>
</html>
